body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.completed {
  font-size: 12px;
  margin: 0 auto;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}

img {
  image-orientation: flip;
}